<div class="header">
  <span>Exercice de recrutement : Angular</span>
</div>
<div class="instruction">
  <div class="description">
    <span>
      <h2>Instruction :</h2>
      develop an extension to this component:<br />

      <a href="https://www.primefaces.org/primeng/#/table"
        >https://www.primefaces.org/primeng/#/table</a
      >
      To add an option "slantedColumnHeaders" that when set to true, makes the
      headers look like the attached picture.<br />
      All the existing options listed on this page should still work:
      <a href="https://www.primefaces.org/primeng/#/table"
        >https://www.primefaces.org/primeng/#/table</a
      >
      Including in <br />particular colGroup (see right side of the attached
      image).<br />sort ✔️.<br />scroll ✔️. <br />resize (each column should be
      resized), & sticky ✔️.
    </span>
  </div>
</div>
<p-dataTable
  [value]="cars"
  [resizableColumns]="true"
  scrollable="true"
  scrollHeight="200px"
>
  <p-headerColumnGroup>
    <p-row>
      <p-column
        field="vin"
        rowspan="2"
        header="Vin"
        [sortable]="true"
      ></p-column>
      <p-column header="Sales" id="sales" colspan="3"></p-column>
    </p-row>
    <p-row>
      <p-column
        field="year"
        colspan="1"
        header="Year"
        [sortable]="true"
      ></p-column>
      <p-column field="brand" header="Brand" [sortable]="true"></p-column>
      <p-column field="color" header="Color" [sortable]="true"></p-column>
    </p-row>
  </p-headerColumnGroup>
  <p-column field="vin" header="Vin" [sortable]="true"></p-column>
  <p-column field="year" header="Year" [sortable]="true"></p-column>
  <p-column field="brand" header="Brand" [sortable]="true"></p-column>
  <p-column field="color" header="Color" [sortable]="true"></p-column>
</p-dataTable>
<div class="footer">
  Made with <span style="color: #e25555">❤ </span>By Karjout Abdeslam<br />
  &nbsp; View Source code on
  <a
    href="https://github.com/karjout/angular-exercice-recrutement"
    target="_blank"
    >Github</a
  >
</div>
