.header {
  height: 50px;
  width: 100%;
  background-color: rgb(18, 87, 225);
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #666666;
  position: fixed;
  z-index: 1;
  top: 0px;

}

.instruction h3 {
  font-weight: bold;
  font-family: Arial;
}

.instruction h2 {
  padding-top: 20px;
}

.instruction {
  margin-top: 50px;
  top: 60px;
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  padding-left: 15px;
  font-family: Arial;
}

.instruction span {
  color: rgb(0, 0, 0);
}

.footer {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid #666666;
  position: fixed;
  z-index: 1;
  bottom: 0px;
}

p-dataTable {

  font-family: Arial;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid #666666;
  position: fixed;
}

:host /deep/ p-datatable th {
  box-shadow: 2px 2px 1px #888888;
  top: 0px;
  left: 50px;
  height: 69px;
  vertical-align: middle;
  padding: 0;
  line-height: 0.8;
  -ms-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -webkit-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);


}

:host /deep/ p-datatable .ui-column-title {
  -ms-transform: skew(45deg, 0deg) rotate(315deg);
  -moz-transform: skew(45deg, 0deg) rotate(315deg);
  -webkit-transform: skew(45deg, 0deg) rotate(315deg);
  -o-transform: skew(45deg, 0deg) rotate(315deg);
  transform: skew(45deg, 0deg) rotate(315deg);
  bottom: 30px;
  left: -25px;
  display: inline-block;
  width: 85px;
  vertical-align: middle;
}

:host /deep/ p-datatable .ui-sortable-column-icon {
  -ms-transform: skew(45deg, 0deg) rotate(315deg);
  -moz-transform: skew(45deg, 0deg) rotate(315deg);
  -webkit-transform: skew(45deg, 0deg) rotate(315deg);
  -o-transform: skew(45deg, 0deg) rotate(315deg);
  transform: skew(45deg, 0deg) rotate(315deg);
  left: -97px;
  top: 20px;
  position: relative;
  width: 85px;
}
